.home-container {
  background-color: #f0f4f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #333;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.hero {
  text-align: center;
  margin-bottom: 40px;
}

.hero-content {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
}

.feature-card {
  width: 300px;
  margin: 10px;
  background-color: #ffffff;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.feature-card:hover {
  transform: translateY(-10px);
}

.get-started-button {
  margin-top: 20px;
  background-color: #8773e8;
  color: #ffffff;
}

.get-started-button:hover {
  background-color: #7363c6;
}

.image-container {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 8px 8px 0 0;
}
/* .home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.header {
  text-align: center;
  margin-bottom: 32px;
}

.header h1 {
  font-size: 2.5em;
  margin-bottom: 8px;
}

.header p {
  font-size: 1.2em;
  color: #666;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 32px;
  border-radius: 8px;
  margin-bottom: 32px;
  width: 90%;
}


.hero-content {
  max-width: 50%;
}

.hero-content h2 {
  font-size: 2em;
  margin-bottom: 16px;
}

.hero-content p {
  font-size: 1.2em;
  margin-bottom: 24px;
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  max-width: 1200px;
}

.feature-card {
  width: 100%;
  max-width: 350px;
  border-radius: 8px;
}

.feature-card mat-card-header {
  display: flex;
  align-items: center;
}

.feature-card mat-icon {
  margin-right: 16px;
  color: #00ff00;
}
.get-started-button {
  background-color: #00ff00;
  color: white;
} */
